/* 글로벌 설정 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 부모의 색상을 상속*/
}

li {
  list-style: none; /* li 앞의 기호 제거 */
}

/* header 전체 */
header {
  background-color: bisque;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* 사이트 제목 가운데 정렬 */
header > h1 {
  text-align: center;
  color: #333;
}

/* 내비게이션 컨테이너 설정 */
.nav-container {
  padding: 0 40px;
  /* 작성 */
  display: flex;
  justify-content: space-between;
}

/* 공통 메뉴 스타일 */
.global-nav > ul,
.user-nav > ul {
  /* 작성 */
  display: flex;
  gap: 20px;
}

/* 메뉴 항목 스타일 */
.global-nav li a,
.user-nav li a {
  font-size: 1rem;
  display: inline-block;
  padding: 8px 12px;
  border-radius: 4px;
  font-weight: 500;
}

/* 메인 메뉴 hover 효과 */
.global-nav li a:hover {
  background-color: #f5c189;
  color: white;
}

/* 사용자 메뉴 hover 효과 */
.user-nav li a:hover {
  background-color: #ffa07a;
  color: white;
}
